# Archivos y carpetas ignorados
__pycache__/
*.pyc
*.pyo
*.sqlite3
*.db
.env
.DS_Store
.vscode/
/data/
outputs/

# Entorno virtual
.venv/
venv/
env/

# Configuración local de Streamlit
.streamlit/config.toml
.streamlit/secrets.toml
.streamlit/secret.toml

# Entorno virtual
.venv/
venv/
env/

# No ignorar el módulo app/data
!app/data/